<footer class="site-footer">

  <div class="wrapper">    
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div style="width: 30px; float: left">
          <a href="{{ site.author.linkedIn }}"><i class="fa fa-linkedin"></i></a>
          <br />
          <a href="{{ site.author.stackOverflow }}"><i class="fa fa-stack-overflow"></i></a>
          <br />
          <a href="{{ site.author.gitHub }}"><i class="fa fa-github"></i></a>
          <br />
          <a href="{{ site.author.bitBucket }}"><i class="fa fa-bitbucket"></i></a>
        </div>
        <div style="float:left; width: 85px;">
          <img src="{{ site.author.gravatar }}">
        </div>
        <div style="text-align: left;">
          Hey, I'm Brad.
          <br /> I write code. I'm always trying to learn more. If I'm not behind a keyboard you will usually find me cheering
          for the local sports teams, playing guitar, kayaking, and spending time with my wife and two sons.
        </div>
      </div>
    </div>
  </div>

</footer>